body {
  font-family: "Raleway", sans-serif;
  background: radial-gradient(
    1700px circle at 4.48% 0%,
    #6C783F 0%,
    #3C4323 100%
  );
  color: #fff;
}

footer {
  font-family: "Raleway", sans-serif;
}
